.WaitingRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.YourUidGuide {
  margin-top: 10px;
}

.SocketConnected{
    color: #aaf;
    font-style: italic;
    margin-top: 10px;
}

.SocketDisconnected{
    color: #faa;
    font-style: italic;
    margin-top: 10px;
}

.UserListContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

.UserList{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 300px;
}

.UserOdd{
    color: black;
    background-color: #eef;
}

.UserOdd:hover{
    background-color: #ddf;
}

.UserEven{
    background-color: #ccf;
}

.UserEven:hover{
    background-color: #bbf;
}

.NoUsersGuide{
    color: #aaa;
}

.VideoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    margin-top: 10px;
    /* width: 400px;
    height: 300px; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}